integration:
  party:
    oauth2-client-id: ${env.INTEGRATION_PARTY_OAUTH2_CLIENT_ID}
    oauth2-client-secret: ${env.INTEGRATION_PARTY_OAUTH2_CLIENT_SECRET}
    oauth2-token-url: ${env.INTEGRATION_PARTY_OAUTH2_TOKEN}
    url: ${env.INTEGRATION_PARTY_URL}
  raindance:
    samba:
      domain: ${env.INTEGRATION_RAINDANCE_SMB_DOMAIN}
      user-domain: ${env.INTEGRATION_RAINDANCE_SMB_USER_DOMAIN}
      user: ${env.INTEGRATION_RAINDANCE_SMB_USER}
      password: ${env.INTEGRATION_RAINDANCE_SMB_PASSWORD}
      shareAndDir: ${env.INTEGRATION_RAINDANCE_SMB_SHARE_AND_DIR}
      remoteDir: ${env.INTEGRATION_RAINDANCE_SMB_REMOTE_DIR}
  storage:
    samba:
      user: ${env.INTEGRATION_STORAGE_SAMBA_USER}
      password: ${env.INTEGRATION_STORAGE_SAMBA_PASSWORD}
      user-domain: ${env.INTEGRATION_STORAGE_SAMBA_USER_DOMAIN}
      host: ${env.INTEGRATION_STORAGE_SAMBA_HOST}
      base-directory: ${env.INTEGRATION_STORAGE_SAMBA_BASE_DIRECTORY}
      service-directory: ${env.INTEGRATION_STORAGE_SAMBA_SERVICE_DIRECTORY}
      environment: ${env.INTEGRATION_STORAGE_SAMBA_ENVIRONMENT}
      scheduler:
        jobs:
          transfer:
            cron: '-'
            name: transfer
            shedlock-lock-at-most-for: PT5M
            maximum-execution-time: PT5M
          truncate:
            cron: '-'
            name: truncate
            shedlock-lock-at-most-for: PT5M
            maximum-execution-time: PT5M
invoice:
  scheduled:
    cron: '0 */10 * * * *'
    name: invoiceLaunchJob
    shedlock-lock-at-most-for: PT10M
    maximum-execution-time: PT10M
raindance:
  invoice:
    outdated: PT5M
  sql:
    filename: local-query.esscueell
spring:
  batch:
    jdbc:
      initialize-schema: never
  cache:
    type: none
  datasource:
    driver-class-name: ${env.DATASOURCE_DRIVER_CLASS_NAME}
    password: ${env.DATASOURCE_PASSWORD}
    url: ${env.DATASOURCE_URL}
    username: ${env.DATASOURCE_USERNAME}
  jpa:
    hibernate:
      ddl-auto: validate
  raindance-datasource:
    driver-class-name: ${env.RAINDANCE_DATASOURCE_DRIVER_CLASS_NAME}
    password: ${env.RAINDANCE_DATASOURCE_PASSWORD}
    url: ${env.RAINDANCE_DATASOURCE_URL}
    username: ${env.RAINDANCE_DATASOURCE_USERNAME}
