integration:
  party:
    connect-timeout: PT5S
    read-timeout: PT10S
  raindance:
    samba:
      cron: '0 0 5 * * MON-FRI' # 05:00 on weekdays
      name: cacheInvoicePdfs
      shedlock-lock-at-most-for: PT1H
      maximum-execution-time: PT1H
invoice:
  scheduled:
    name: invoiceLaunchJob
    cron: '0 0 * * * *' # every hour
    shedlock-lock-at-most-for: PT10M
    maximum-execution-time: PT10M
logbook:
  body-filters:
    json-path:
      - key: '$..content'
        value: '[base64]'
management:
  endpoints:
    enabled-by-default: true
    web:
      exposure:
        include: '*'
  security:
    enabled: false
openapi:
  name: api-invoicecache
  title: api-invoicecache
  version: '@project.version@'
raindance:
  invoice:
    outdated: PT24H
security:
  basic:
    enabled: false
spring:
  application:
    name: api-invoicecache
  batch:
    jdbc:
      initialize-schema: never
    job:
      enabled: false
  datasource:
    configuration:
      maximum-pool-size: 10
      connection-timeout: 5000
  raindance-datasource:
    configuration:
      maximum-pool-size: 2
      connection-timeout: 5000
      read-only: true
  flyway:
    enabled: true
    group: true
  jpa:
    hibernate:
      ddl-auto: validate
  main:
    banner-mode: 'off'
  security:
    enabled: false
