integration:
  party:
    connectTimeout: PT10S
    oauth2-client-id: client-id
    oauth2-client-secret: client-secret
    oauth2-token-url: api-gateway-url
    readTimeout: PT20S
    url: api-party-url
  raindance:
    samba:
      cron: '-'
      domain: samba-domain
      password: samba-password
      remoteDir: samba-remote-dir
      shareAndDir: samba-share-and-dir
      user: samba-user
      userDomain: samba-user-domain
  storage:
    samba:
      user: user
      password: password
      user-domain: user-domain
      host: samba-host
      share: samba-share
      base-directory: abc
      service-directory: invoice-cache
      environment: test
      scheduler:
        jobs:
          transfer:
            cron: '-'
            name: transfer
            shedlock-lock-at-most-for: PT5M
            maximum-execution-time: PT5M
            threshold: 6
          truncate:
            cron: '-'
            name: truncate
            shedlock-lock-at-most-for: PT5M
            maximum-execution-time: PT5M
raindance:
  sql:
    filename: raindance-test.esscueell
spring:
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6.12:///
  raindance-datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mssql/server:2019-CU28:///
  flyway:
    enabled: false
  jpa:
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          schema-generation:
            script:
              append: false
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: update
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
